{% set currentPath = path(app.request.attributes.get('_route'),
app.request.attributes.get('_route_params')) %}

<ul>
    <li>
        <a href="{{ path('blog_home') }}">
            <div class="nav-link {% if currentPath == "/" %} active {% endif %}">
                Home Blog
            </div>
        </a>
    </li>

    <li>
        <a href="{{ path('comment_last') }}">
            <div class="nav-link {% if "/comment/last" in currentPath %} active {% endif %}">
                {{ "navigator.last_comments"|trans() }}
            </div>
        </a>
    </li>

    <li>
        <a href="{{ path('tag_last_page') }}">
            <div class="nav-link {% if "/tag/last" in currentPath %} active {% endif %}">
                {{ "navigator.last_tags"|trans() }}
            </div>
        </a>
    </li>
</ul>

<ul id="nav_language_list">
    <li>
        <div>Доступні мови:</div>
    </li>
    <li>
        <a href="{{ path('blog_home', {'_locale' : 'en'}) }}" title="English">
            <div class="nav-link {% if "/en/" in currentPath %} active {% endif %}">
                en
            </div>
        </a>
    </li>
    <li>
        <a href="{{ path('blog_home', {'_locale' : 'ua'})  }}" title="Українська">
            <div class="nav-link {% if "/ua/" in currentPath %} active {% endif %}">
                ua
            </div>
        </a>
    </li>
    <li>
        <a href="{{ path('blog_home', {'_locale' : 'ru'})  }}" title="Русский">
            <div class="nav-link {% if "/ru/" in currentPath %} active {% endif %}">
                ru
            </div>
        </a>
    </li>
</ul>

<ul id="nav_create_list">
    <li>
        <a href="{{ path('post_add_get') }}">
            <div class="nav-link {% if "/post/add" in currentPath %} active {% endif %}">
                Створити статтю
            </div>
        </a>
    </li>
</ul>