{% set currentPath = path(app.request.attributes.get('_route'),
app.request.attributes.get('_route_params')) %}

<ul>
    <li>
        <a href="{{ path('blog_home') }}">
            <div class="nav-link {% if currentPath == "/" or currentPath == "/en" or currentPath == "/ru" or currentPath == "/ua" %} active {% endif %}">
                Home Blog
            </div>
        </a>
    </li>

    <li>
        <a href="{{ path('comment_last') }}">
            <div class="nav-link {% if "/comment/last" in currentPath %} active {% endif %}">
                {{ "navigator.last_comments"|trans() }}
            </div>
        </a>
    </li>

    <li>
        <a href="{{ path('tag_last_page') }}">
            <div class="nav-link {% if "/tag/last" in currentPath %} active {% endif %}">
                {{ "navigator.last_tags"|trans() }}
            </div>
        </a>
    </li>
</ul>

<ul id="nav_language_list">
    <li>
        <div>{{ "navigator.language"|trans() }}:</div>
    </li>
    <li>
        <a href="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')|merge({"_locale": "en"})) }}" title="English">
            <div class="nav-link {% if "/en" in currentPath %} active {% endif %}">
                en
            </div>
        </a>
    </li>
    <li>
        <a href="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')|merge({"_locale": "ua"})) }}" title="Українська">
            <div class="nav-link {% if "/ua" in currentPath or "/" == currentPath %} active {% endif %}">
                ua
            </div>
        </a>
    </li>
    <li>
        <a href="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')|merge({"_locale": "ru"})) }}" title="Русский">
            <div class="nav-link {% if "/ru" in currentPath %} active {% endif %}">
                ru
            </div>
        </a>
    </li>
</ul>

<ul id="nav_create_list">
    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
        <li>
            <a href="{{ path('post_add_get') }}">
                <div class="nav-link {% if "/post/add" in currentPath %} active {% endif %}">
                    {{ "navigator.create_post"|trans() }}
                </div>
            </a>
        </li>

        <li>
            <div class="nav-link">
                Nickname
            </div>
        </li>

        <li>
            <a href="{{ path('fos_user_security_logout') }}">
                <div class="nav-link">
                    <img src="{{ asset('media/logout.png') }}" class='logout-icon'/>
                </div>
            </a>
        </li>
    {% else %}
        <li>
            <a href="{{ path('fos_user_security_login') }}">
                <div class="nav-link">
                    {{ 'layout.login'|trans({}, 'FOSUserBundle') }}
                </div>
            </a>
        </li>
    {% endif %}
</ul>
