{% extends 'ValiknetBlogPostsBundle:Layouts:main.html.twig' %}

{% block content %}
    <div id="post_list">
        {% for post in tag[0].post %}
            <div>
                <div class="title">{{ post.title }}</div>
                <div>{{ post.text|slice(0,150) }}</div>
                <div>{{ post.author }}</div>
                <div>{{ post.createdAt.date|date("d.m.Y H:i:s") }}</div>
                {% if(post.tag) %}
                    <div>Теги:
                        {% for tag in post.tag %}
                            <a href="{{ path('tag_page', {'slug': tag.hashSlug}) }}">#{{ tag.hashTag }}</a>
                        {% endfor %}
                    </div>
                {% endif %}

            </div>
        {% else %}
            <div>
                <h3>На даний момент в блогі немає ні одного запису</h3>
            </div>
        {% endfor %}
    </div>
{% endblock %}