{% extends 'ValiknetBlogPostsBundle:Layouts:main.html.twig' %}

{% block title %}
    Редагування статті
{% endblock %}

{% block content %}
    <div>
        <form role="form" method="POST">
            <fieldset>
                <legend>Редагування статі</legend>
                <div>
                    <label>Назва:</label>
                    <input type="text" name="title" required value="{{ post.title }}"/>
                </div>

                <div>
                    <label>Текст:</label>
                    <textarea name="text" required>{{ post.text }}</textarea>
                </div>

                <div>
                    <label>Автор:</label>
                    <input type="text" name="author" required value="{{ post.author }}"/>
                </div>

                <div>
                    <select name="tags[]" multiple required>
                        {% for tag in tags %}
                            {% if tag in post.tag %}
                                <option value="{{ tag.id }}" selected>{{ tag.hashTag }}</option>
                            {% else %}
                                <option value="{{ tag.id }}">{{ tag.hashTag }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>

                <div>
                    <input type="submit" value="Edit">
                </div>
            </fieldset>
        </form>
    </div>
{% endblock %}