{% extends 'ValiknetBlogPostsBundle:Layouts:main.html.twig' %}

{% block title %}
    Редагування статті
{% endblock %}

{% block styles %}
    <link href="{{ asset('bundles/valiknetblogposts/style/post/editpost.css') }}" rel="stylesheet" />
{% endblock %}

{% block content %}
    <div>
        <form role="form" method="POST">
            <fieldset>
                <legend>Редагування статі</legend>

                <div>
                    {{ form_row(form.title) }}
                    <div id="clear"></div>
                </div>

                <div>
                    {{ form_row(form.text) }}
                    <div id="clear"></div>
                </div>

                <div>
                    {{ form_row(form.author) }}
                    <div id="clear"></div>
                </div>

                <div>
                    {{ form_row(form.tag) }}
                    <div id="clear"></div>
                </div>

                {{ form_rest(form) }}

                <div>
                    <input type="submit" value="Редагувати статтю">
                </div>
            </fieldset>
        </form>
    </div>
{% endblock %}
