{% extends 'ValiknetBlogPostsBundle:Layouts:main.html.twig' %}

{% block title %}
    {{ post.title }}
{% endblock %}

{% block content %}
    <div>
        <div>
            {#{{ dump(post) }}#}
            <a href="{{ path('edit_post', {'slug':post.getSlugPost }) }}">Редагувати</a>
            <a href="">Видалити</a>
        </div>
        <div class="title">{{ post.title }}</div>
        <div>{{ post.text }}</div>
        <div>{{ post.author }}</div>
        <div>{{ post.createdAt.date|date("d.m.Y H:i:s") }}</div>
        {% if(post.tag) %}
            <div>Теги:
                {% for tag in post.tag %}
                    <a href="{{ path('tag_page', {'slug': tag.hashSlug}) }}">#{{ tag.hashTag }}</a>
                {% endfor %}
            </div>
        {% endif %}

        {% if(post.comment) %}
            <div>
                <fieldset>
                    <legend>Коментарі</legend>
                    {% for comment in post.comment %}

                    {% else %}
                        <h3>До даної статі не створили ні одного коментаря</h3>
                    {% endfor %}
                </fieldset>
            </div>
        {% endif %}
        <div></div>
    </div>
{% endblock %}