{% extends '::main.html.twig' %}

{% block title %}
    {{ post.title }}
{% endblock %}

{% block styles %}
    <link href="{{ asset('bundles/valiknetblog/style/post/fullpost.css') }}" rel="stylesheet" />
{% endblock %}

{% block content %}
    <div class="webber-article">
        <div class="control-block">
            <a href="{{ path('edit_post', {'slug':post.getSlugPost }) }}">{{ "post.post_edit_message"|trans() }}</a>
            <a href="{{ path('delete_post', {'slug':post.getSlugPost }) }}" id="delete_post">{{ "post.post_delete_message"|trans() }}</a>
        </div>

        <div class="title">
            <a href="{{ path('view_post', { 'slug':post.getSlugPost }) }}">{{ post.title }}</a>
        </div>
        <div class="info-block">
            <p>
                {{ "post.post_created_at"|trans() }}: <b>{{ post.createdAt|date("d.m.Y H:i:s") }}</b><br>
                {{ "post.post_updated_at"|trans() }}: <b>{{ post.updatedAt|date("d.m.Y H:i:s") }}</b><br>
                {{ "post.post_author"|trans() }}: <b>{{ post.author }}</b><br>
                {{ "post.post_comments_count"|trans() }}: <b>{{ post.comment|length }}</b>
            </p>
        </div>
        <div class="tag-block">
            <p>
                {{ "post.post_tags"|trans() }}:
                {% for tag in post.tag %}
                    <a href="{{ path('tag_page', {'slug': tag.hashSlug }) }}">{{ tag.hashTag|hashTag }}</a>
                {% endfor %}
            </p>

        </div>
        <div class="text">
            <p>{{ post.text }}</p>
        </div>
    </div>
    <div class="comment-article">
        <h3>
            {{ "comments.comments_name"|trans() }}:
        </h3>
        <ul id="category_list">
            {% for comment in post.comment|reverse %}
                <li>
                    <div class="comment">
                        <div class="info-block">
                            <p>
                                {{ "comments.comment_author"|trans() }}: <b>{{ comment.author }}</b></br>
                                {{ "comments.comment_created_at"|trans() }}: <b>{{ comment.createdAt|date("d.m.Y H:i:s") }}</b>
                            </p>
                        </div>

                        <div class="text">
                            <p>
                                {{ comment.text }}
                            </p>
                        </div>
                    </div>
                </li>
            {% else %}
                <li>
                    <h3>{{ "comments.comments_no_create"|trans() }}</h3>
                </li>
            {% endfor %}
        </ul>


        <div>
            <h3>{{ "comments.create_new_comment_message"|trans() }}:</h3>
            <form id="comment_add" role="form" action="{{ path("comment_add", {"slug" : post.slugPost}) }}" method="POST">
                <div>
                    {{ form_row(form.author) }}
                </div>

                <div class="text">
                    {{ form_row(form.text) }}
                    <div id="clear"></div>
                </div>

                {{ form_rest(form) }}

                <div>
                    <input type="submit" value="{{ "comments.comment_save_button"|trans() }}">
                </div>
            </form>
        </div>
    </div>

{% endblock %}
