{% extends 'ValiknetBlogPostsBundle:Layouts:main.html.twig' %}

{% block title %}
    {{ "title.last_comments"|trans() }}
{% endblock %}

{% block styles %}
    <link href="{{ asset('bundles/valiknetblogposts/style/comment/last.css') }}" rel="stylesheet" />
{% endblock %}

{% block content %}
    <div class="comment-article">
        <h3>
            {{ comments|length }} {{ "another.last_comments"|transchoice(comments|length) }}
        </h3>
        <ul>
            {% for comment in comments %}
                <li>
                    <div class="comment">
                        <div class="info-block">
                            <p>
                                <b>{{ "post.post_author"|trans() }}:</b> {{ comment.author }}
                                <br />
                                <b>{{ "post.post_created_at"|trans() }}:</b> {{ comment.createdAt|date("d.m.Y H:i:s") }}
                            </p>
                        </div>
                        <div class="text">
                            <p>
                                {{ comment.text }}
                            </p>
                        </div>
                        <div class="link_to_article">
                            <b>{{ "comments.comment_post"|trans() }}: </b><a href="{{ path("view_post", { "slug" : comment.post.slugPost}) }}">{{ comment.post.title }}</a>
                        </div>
                    </div>
                </li>
            {% else %}
                <li>
                    <h3>
                        На даний момент не створено ні одного комментаря
                    </h3>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
