{% extends 'ValiknetBlogPostsBundle:Layouts:main.html.twig' %}

{% block title %}
    Останні коментарі
{% endblock %}

{% block styles %}
    <link href="{{ asset('bundles/valiknetblogposts/style/comment/last.css') }}" rel="stylesheet" />
{% endblock %}

{% block content %}
    <div class="comment-article">
        <h3>
            {{ comments|length }} останніх коментарів
        </h3>
        <ul>
            {% for comment in comments %}
                <li>
                    <div class="comment">
                        <div class="info-block">
                            <p>
                                <b>Автор:</b> {{ comment.author }}
                                <br />
                                <b>Дата створення:</b> {{ comment.createdAt|date("d.m.Y H:i:s") }}
                            </p>
                        </div>
                        <div class="text">
                            <p>
                                <b>Комментар:</b> {{ comment.text }}
                            </p>
                        </div>
                        <div class="link_to_article">
                            <b>Стаття: </b><a href="{{ path("view_post", { "slug" : comment.post.slugPost}) }}">{{ comment.post.title }}</a>
                        </div>
                    </div>
                </li>
            {% else %}
                <li>
                    <h3>
                        На даний момент не створено ні одного комментаря
                    </h3>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
